import(dplyr)
import(randomNames)
import(grDevices)
export(generate_random_dataframe)
export(generate_random_vector)
export(generate_random_mobile_number)
export(generate_random_ip)
export(generate_random_email)
export(generate_random_random_email)
export(detect_outliers)
export(clean_na_values)
export(read_txt)
export(tic_tac_toe_difficult)
export(tic_tac_toe_easy)
export(guess_number)
export(hello)
export(bulls_n_cows)